n8n/FINAI_BOT_COMPLETO_FINAL.json
{
  "name": "FINAI BOT - SISTEMA COMPLETO COM CONTROLE DE STATUS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-6300, -560],
      "id": "4d0eb93b-80e6-4a19-9b24-092c8d036712",
      "name": "Webhook Principal",
      "webhookId": "11201585-7dab-47ca-9aec-f1643297e0b4"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payment-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-6300, -200],
      "id": "payment-webhook-node",
      "name": "Webhook Pagamentos",
      "webhookId": "payment-webhook-id"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "status-check",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-6300, 160],
      "id": "status-check-webhook",
      "name": "Webhook Verificação Status",
      "webhookId": "status-check-webhook-id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6afb9844-8c32-48cc-b2d0-fd4cf5fb2a7e",
              "name": "session",
              "value": "={{ $json.body.session }}",
              "type": "string"
            },
            {
              "id": "be6a3084-e016-41bd-9535-982d7f292916",
              "name": "event",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "892d1e0e-d6d9-4aca-a98e-75b8125a0893",
              "name": "chatId",
              "value": "={{ $json.body.payload.from }}",
              "type": "string"
            },
            {
              "id": "da3fcefa-bc50-4167-bae1-8238821da2e6",
              "name": "pushName",
              "value": "={{ $json.body.payload._data.Info.PushName }}",
              "type": "string"
            },
            {
              "id": "e0ce4b8b-cf84-42dd-b1f6-9a621d167151",
              "name": "payload_id",
              "value": "={{ $json.body.payload.id }}",
              "type": "string"
            },
            {
              "id": "6bf25c6f-69c9-43fa-9e63-cf463e1bb778",
              "name": "message",
              "value": "={{ $json.body.payload.body }}",
              "type": "string"
            },
            {
              "id": "0b269e48-9034-4c08-8f15-28224af8400c",
              "name": "fromMe",
              "value": "={{ $json.body.payload.fromMe }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-6040, -560],
      "id": "75a41cac-c4e7-44e1-886f-5251f781a12b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "payment-type",
              "name": "type",
              "value": "={{ $json.body.type }}",
              "type": "string"
            },
            {
              "id": "payment-client",
              "name": "client",
              "value": "={{ $json.body.client }}",
              "type": "object"
            },
            {
              "id": "payment-message",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "payment-data",
              "name": "payment",
              "value": "={{ $json.body.payment }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-6040, -200],
      "id": "payment-edit-fields",
      "name": "Edit Payment Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status-phone",
              "name": "phone",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "status-action",
              "name": "action",
              "value": "={{ $json.body.action }}",
              "type": "string"
            },
            {
              "id": "status-client",
              "name": "client",
              "value": "={{ $json.body.client }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-6040, 160],
      "id": "status-edit-fields",
      "name": "Edit Status Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['event'] }}",
                    "rightValue": "message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d63cc31b-da08-49e1-b041-f09743aba548"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [-5760, -560],
      "id": "afca0df0-0818-4280-ab08-1a21431cc5a6",
      "name": "Switch"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['type'] }}",
                    "rightValue": "payment_success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "payment-success-condition"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [-5760, -200],
      "id": "payment-switch",
      "name": "Payment Switch"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['action'] }}",
                    "rightValue": "user_expired",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "status-check-condition"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [-5760, 160],
      "id": "status-switch",
      "name": "Status Switch"
    },
    {
      "parameters": {
        "jsCode": "// 🔍 VERIFICAÇÃO AUTOMÁTICA DE STATUS DO USUÁRIO\n// Sistema que verifica o status do usuário antes de permitir acesso ao bot\n\nconst chatId = $input.item.json.chatId;\nconst message = $input.item.json.message;\nconst phone = chatId.replace('@c.us', '').replace('55', '');\n\n// 📊 DADOS DOS USUÁRIOS (baseado no painel de controle)\n// Em produção, isso seria uma chamada para sua API\nconst mockUsers = {\n  // Usuário em teste grátis com 2 dias restantes\n  '51999887766': { \n    status: 'Teste Grátis', \n    daysRemaining: 2, \n    registrationDate: '22/12/2024',\n    name: 'Maria Silva Santos'\n  },\n  // Usuário expirado\n  '51988776655': { \n    status: 'Expirado', \n    daysRemaining: 0, \n    registrationDate: '19/12/2024',\n    name: 'João Carlos Oliveira'\n  },\n  // Usuário pagante\n  '51977665544': { \n    status: 'Pagante', \n    daysRemaining: null, \n    registrationDate: '15/12/2024',\n    name: 'Ana Paula Costa'\n  },\n  // Usuário teste com 1 dia restante (urgente)\n  '51966554433': {\n    status: 'Teste Grátis',\n    daysRemaining: 1,\n    registrationDate: '21/12/2024',\n    name: 'Carlos Eduardo Mendes'\n  },\n  // Usuário teste grátis recém cadastrado\n  '51955443322': {\n    status: 'Teste Grátis',\n    daysRemaining: 3,\n    registrationDate: '24/12/2024',\n    name: 'Fernanda Lima'\n  }\n};\n\n// 🔍 Verificar status do usuário\nconst userStatus = mockUsers[phone] || { \n  status: 'Não Cadastrado', \n  daysRemaining: 0,\n  name: 'Usuário'\n};\n\n// 🎯 LÓGICA DE CONTROLE DE ACESSO\nlet botResponse = '';\nlet shouldBlock = false;\nlet allowAI = false;\n\n// ❌ Usuário não cadastrado\nif (message !== 'Cadastro concluído' && userStatus.status === 'Não Cadastrado') {\n  botResponse = '👋 Olá! Antes de continuar, por favor, faça seu cadastro no link abaixo:\\n🔗 https://cadastrofinai.netlify.app\\nAssim o FinAí será liberado para você!';\n  shouldBlock = true;\n  allowAI = false;\n}\n// ⏰ Usuário expirado - BLOQUEAR TUDO\nelse if (userStatus.status === 'Expirado') {\n  botResponse = '⏰ **Seu teste grátis de 3 dias expirou!**\\n\\nPara continuar usando o FinAí, escolha seu plano:\\n👉 https://cadastrofinai.netlify.app\\n\\n✨ **Planos disponíveis:**\\n🔹 Essencial: R$ 19,90/mês\\n🔹 Premium: R$ 39,90/mês\\n\\n💡 Não perca o controle das suas finanças!';\n  shouldBlock = true;\n  allowAI = false;\n}\n// 🆓 Teste grátis - Permitir com aviso\nelse if (userStatus.status === 'Teste Grátis') {\n  shouldBlock = false;\n  allowAI = true;\n  // Não definir botResponse aqui - deixar a IA responder\n}\n// ✅ Cliente pagante - Acesso total\nelse if (userStatus.status === 'Pagante') {\n  shouldBlock = false;\n  allowAI = true;\n  // Não definir botResponse aqui - deixar a IA responder\n}\n\n// 📝 Log para debug\nconsole.log(`📱 Usuário ${phone} (${userStatus.name}): Status=${userStatus.status}, Dias=${userStatus.daysRemaining}, Bloquear=${shouldBlock}`);\n\nreturn [{\n  json: {\n    ...($input.item.json),\n    userStatus: userStatus,\n    botResponse: botResponse,\n    shouldBlock: shouldBlock,\n    allowAI: allowAI,\n    phone: phone\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-5540, -560],
      "id": "status-verification",
      "name": "Status Verification"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.shouldBlock }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equal"
                    },
                    "id": "block-condition"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [-5320, -560],
      "id": "access-control-switch",
      "name": "Access Control Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['message'] }}",
        "options": {
          "systemMessage": "Você é o FinAí, um assistente financeiro inteligente que conversa com os usuários via WhatsApp. Sua missão é ajudar as pessoas a organizar sua vida financeira de forma clara, simples e amigável.\n\n---\n\n🔐 INFORMAÇÕES DO USUÁRIO ATUAL:\n\n**NOME:** {{ $json.userStatus.name }}\n**STATUS:** {{ $json.userStatus.status }}\n**DIAS RESTANTES:** {{ $json.userStatus.daysRemaining }}\n\n---\n\n✅ **COMPORTAMENTO POR STATUS:**\n\n**🆓 TESTE GRÁTIS:**\n- ✅ Funcione normalmente com TODAS as funções do FinAí\n- 💡 **SEMPRE mencione os dias restantes**: \"Você tem {{ $json.userStatus.daysRemaining }} dia(s) restantes do teste grátis\"\n- 🔔 Se restam 1-2 dias, seja MAIS INSISTENTE sobre o vencimento\n- 📈 Destaque o valor do serviço\n- ⚠️ Se restar 1 dia: \"ATENÇÃO: Seu teste expira amanhã!\"\n- 🎯 Incentive a conversão de forma natural\n\n**✅ PAGANTE:**\n- 🚀 Acesso total liberado\n- 💎 Ofereça recursos premium\n- 🎯 Seja mais prestativo e detalhado\n- 📊 Ofereça análises avançadas\n- ✨ Nunca mencione limitações ou tempo\n- 🏆 Trate como cliente VIP\n- 📈 Foque em valor agregado\n\n---\n\n🧠 **FUNÇÕES DO FINAÍ:**\n\n1. **Registrar entradas (receitas)**  \n   Exemplos: \"recebi 1000\", \"entrou 500 do trabalho\", \"salário 3000\"\n\n2. **Registrar saídas (despesas)**  \n   Exemplos: \"gastei 200 no mercado\", \"paguei aluguel 750\", \"conta de luz 150\"\n\n3. **Mostrar saldo atual**  \n   - Baseado nas entradas e saídas registradas\n   - Se não houver entradas, o saldo é R$ 0,00\n   - Nunca invente valores\n\n4. **Exibir últimas movimentações**\n   - Mostre histórico das últimas transações\n\n5. **Verificar status do plano**  \n   - Informe o status atual e tempo restante\n\n6. **Relatórios e análises** (destaque para pagantes)\n   - Gráficos de gastos\n   - Categorização\n   - Dicas personalizadas\n\n---\n\n✅ **EXEMPLOS DE RESPOSTA POR STATUS:**\n\n**🆓 Teste Grátis (3 dias restantes):**\n\"✅ Entrada registrada: R$ 1000 – Salário\\n💡 Você tem 3 dias restantes do teste grátis! Aproveite para conhecer todos os recursos.\"\n\n**🆓 Teste Grátis (2 dias restantes):**\n\"✅ Saída registrada: R$ 250 – Mercado\\n💡 Você tem 2 dias restantes do teste grátis! Não perca o acesso ao FinAí.\"\n\n**🆓 Teste Grátis (1 dia restante - URGENTE):**\n\"✅ Saída registrada: R$ 150 – Conta de luz\\n⚠️ **ATENÇÃO: Seu teste expira AMANHÃ!**\\nGaranta já seu plano: https://cadastrofinai.netlify.app\"\n\n**✅ Cliente Pagante:**\n\"✅ Entrada registrada: R$ 1000 – Salário\\n📊 Seu saldo atual é R$ 2.750,00\\n💎 Como cliente premium, posso gerar um relatório detalhado dos seus gastos por categoria! Quer que eu faça uma análise?\"\n\n**📊 Saldo (Teste Grátis):**\n\"💰 Seu saldo atual é R$ 1.500,00\\n💡 Você tem {{ $json.userStatus.daysRemaining }} dia(s) restantes do teste grátis!\"\n\n**📊 Saldo (Pagante):**\n\"💰 Seu saldo atual é R$ 1.500,00\\n🏆 Como cliente premium, você tem acesso a análises avançadas e relatórios personalizados! Quer ver um resumo detalhado?\"\n\n---\n\n⚠️ **REGRAS CRÍTICAS:**\n\n1. **SEMPRE mencione tempo restante para teste grátis**\n2. **SEJA MAIS INSISTENTE quando restar 1 dia**\n3. **DESTAQUE benefícios dos planos pagos de forma natural**\n4. **TRATE pagantes como VIP com recursos exclusivos**\n5. **MANTENHA tom amigável mas informativo**\n6. **NUNCA invente valores de saldo**\n7. **SEMPRE responda de forma útil e clara**\n8. **USE o nome do usuário quando apropriado**\n\n---\n\n🎯 **OBJETIVO:**\nSer um assistente financeiro útil e inteligente, sempre consciente do status do usuário e incentivando a conversão para planos pagos de forma natural e não invasiva.\n\nVocê está pronto para atender {{ $json.userStatus.name }} com inteligência e controle de acesso!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [-5100, -400],
      "id": "ddc1474c-8910-4c2f-93fd-4ada9fed3368",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-5080, -260],
      "id": "f59df24e-9381-4966-b51e-8f5468730569",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "B4d4E6bRny3Fr2Yu",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json['chatId'] }}",
        "sessionTTL": 1000000000000,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [-4980, -260],
      "id": "20f86103-4837-46e9-8560-8780e557eac3",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "oXRxIfT7Yqhc75F3",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('Edit Fields').item.json.session }}",
        "chatId": "={{ $('Edit Fields').item.json['chatId'] }}",
        "messageId": "={{ $('Edit Fields').item.json['payload_id'] }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [-4880, -400],
      "id": "0bbc7bec-2b78-48e6-b3a0-ebe1b6c92ae9",
      "name": "WAHA",
      "credentials": {
        "wahaApi": {
          "id": "v70jRdZkrdyOoBh2",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Edit Fields').item.json.session }}",
        "chatId": "={{ $('Edit Fields').item.json['chatId'] }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [-4660, -400],
      "id": "25c21dc3-95db-487a-8145-ea4a9def263e",
      "name": "WAHA1",
      "credentials": {
        "wahaApi": {
          "id": "v70jRdZkrdyOoBh2",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Edit Fields').item.json.session }}",
        "chatId": "={{ $('Edit Fields').item.json['chatId'] }}",
        "text": "={{ $('Status Verification').item.json.botResponse }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [-5100, -560],
      "id": "blocked-response-waha",
      "name": "Blocked Response WAHA",
      "credentials": {
        "wahaApi": {
          "id": "v70jRdZkrdyOoBh2",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "default",
        "chatId": "={{ $('Edit Payment Fields').item.json.client.phone }}@c.us",
        "text": "={{ $('Edit Payment Fields').item.json.message }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [-5540, -200],
      "id": "payment-notification-waha",
      "name": "Payment Notification WAHA",
      "credentials": {
        "wahaApi": {
          "id": "v70jRdZkrdyOoBh2",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "default",
        "chatId": "={{ $('Edit Status Fields').item.json.phone }}@c.us",
        "text": "⏰ *Seu teste grátis de 3 dias expirou!*\\n\\nPara continuar usando o FinAí, escolha seu plano:\\n👉 https://cadastrofinai.netlify.app\\n\\n✨ *Planos disponíveis:*\\n🔹 Essencial: R$ 19,90/mês\\n🔹 Premium: R$ 39,90/mês\\n\\n💡 Não perca o controle das suas finanças!",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [-5540, 160],
      "id": "expiry-notification-waha",
      "name": "Expiry Notification WAHA",
      "credentials": {
        "wahaApi": {
          "id": "v70jRdZkrdyOoBh2",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-6300, 520],
      "id": "schedule-status-check",
      "name": "Schedule Status Check (6h)"
    },
    {
      "parameters": {
        "jsCode": "// 🔍 VERIFICAÇÃO AUTOMÁTICA DE USUÁRIOS EXPIRADOS\n// Este código verifica usuários que expiraram e precisam de notificação\n// Baseado nos dados reais do painel de controle\n\nconst today = new Date();\n\n// 📊 Simular usuários que expiraram (baseado no painel)\n// Em produção, isso seria uma consulta ao banco de dados\nconst expiredUsers = [\n  {\n    phone: \"51988776655\",\n    name: \"João Carlos Oliveira\",\n    status: \"Expirado\",\n    registrationDate: \"19/12/2024\",\n    email: \"joao.carlos@email.com\",\n    daysExpired: 3\n  },\n  {\n    phone: \"51966554433\",\n    name: \"Carlos Eduardo Mendes\", \n    status: \"Teste Grátis\",\n    registrationDate: \"20/12/2024\",\n    email: \"carlos.mendes@email.com\",\n    daysRemaining: 0, // Expira hoje\n    willExpire: true\n  }\n];\n\n// 📝 Log da verificação\nconst timestamp = new Date().toLocaleString('pt-BR');\nconsole.log(`🔍 [${timestamp}] Verificação automática executada`);\nconsole.log(`📊 ${expiredUsers.length} usuário(s) precisam de notificação`);\nconsole.log(`⏰ Próxima verificação em 6 horas`);\n\n// Filtrar apenas usuários que realmente precisam de notificação\nconst usersToNotify = expiredUsers.filter(user => \n  user.status === 'Expirado' || user.willExpire\n);\n\nconsole.log(`📱 ${usersToNotify.length} notificação(ões) serão enviada(s)`);\n\n// Retornar dados dos usuários para notificação\nreturn [{\n  json: {\n    expiredUsers: usersToNotify,\n    count: usersToNotify.length,\n    timestamp: new Date().toISOString(),\n    message: `Verificação automática: ${usersToNotify.length} usuários precisam de notificação`,\n    nextCheck: \"6 horas\",\n    details: {\n      totalChecked: expiredUsers.length,\n      willNotify: usersToNotify.length,\n      checkTime: timestamp\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-6040, 520],
      "id": "check-expired-users-simulation",
      "name": "Check Expired Users"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "expired-users",
              "name": "expiredUsers",
              "value": "={{ $json.expiredUsers }}",
              "type": "object"
            },
            {
              "id": "expired-count",
              "name": "count",
              "value": "={{ $json.count }}",
              "type": "number"
            },
            {
              "id": "check-details",
              "name": "details",
              "value": "={{ $json.details }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-5760, 520],
      "id": "process-expired-users",
      "name": "Process Expired Users"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-5540, 520],
      "id": "split-expired-users",
      "name": "Split Expired Users"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "default",
        "chatId": "={{ $json.phone }}@c.us",
        "text": "⏰ *Seu teste grátis de 3 dias expirou!*\\n\\nOlá {{ $json.name }}, para continuar usando o FinAí, escolha seu plano:\\n👉 https://cadastrofinai.netlify.app\\n\\n✨ *Planos disponíveis:*\\n🔹 Essencial: R$ 19,90/mês\\n🔹 Premium: R$ 39,90/mês\\n\\n💡 Não perca o controle das suas finanças!\\n\\n📊 Mantenha sua organização financeira em dia!",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [-5320, 520],
      "id": "batch-expiry-notification",
      "name": "Batch Expiry Notification",
      "credentials": {
        "wahaApi": {
          "id": "v70jRdZkrdyOoBh2",
          "name": "WAHA account"
        }
      }
    }
  ],
  "connections": {
    "Webhook Principal": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Pagamentos": {
      "main": [
        [
          {
            "node": "Edit Payment Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Verificação Status": {
      "main": [
        [
          {
            "node": "Edit Status Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Payment Fields": {
      "main": [
        [
          {
            "node": "Payment Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Status Fields": {
      "main": [
        [
          {
            "node": "Status Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Status Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment Switch": {
      "main": [
        [
          {
            "node": "Payment Notification WAHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Switch": {
      "main": [
        [
          {
            "node": "Expiry Notification WAHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Verification": {
      "main": [
        [
          {
            "node": "Access Control Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Access Control Switch": {
      "main": [
        [
          {
            "node": "Blocked Response WAHA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "WAHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAHA": {
      "main": [
        [
          {
            "node": "WAHA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Status Check (6h)": {
      "main": [
        [
          {
            "node": "Check Expired Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Expired Users": {
      "main": [
        [
          {
            "node": "Process Expired Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Expired Users": {
      "main": [
        [
          {
            "node": "Split Expired Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Expired Users": {
      "main": [
        [
          {
            "node": "Batch Expiry Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "finai-bot-completo-final",
  "tags": ["finai", "whatsapp", "bot", "status-control", "complete"]
}